
/* Background Imagen Principal */
.ns-back_principal {
    background:url(../index/principal.jpg) no-repeat center center;
    color:#000;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
}
/* Contenido Imagen Principal */
.ns-content_principal {
    padding:135px 0px;
    overflow:hidden;
    color: #fff;
}

.ns-secciones {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    overflow: hidden;
}

.ns-back {
    background: url(../index/cover1.jpg) no-repeat top center;
    background-size: 100% 100%;
    width: 100%;
    overflow: hidden;
 }

 .ns-back_double {
    background: url(../../recursos/index/cover2.jpg) no-repeat top center;
    background-size: 100% 100%;
    width: 100%;
    overflow: hidden;
}

 .contenedor {overflow:hidden;}

 .zoom {
    /* Aumentamos la anchura y altura durante 2 segundos */
    transition: width 2s, height 2s, transform 2s;
    -moz-transition: width 2s, height 2s, -moz-transform 2s;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
    -o-transition: width 2s, height 2s,-o-transform 2s;
}

.zoom:hover {
    /* tranformamos el elemento al pasar el mouse por encima al doble de
       su tamaño con scale(2). */
    transform : scale(1.2);
    -moz-transform : scale(1.2);      /* Firefox */
    -webkit-transform : scale(1.2);   /* Chrome - Safari */
    -o-transform : scale(1.2);        /* Opera */
}

.carousel-inner img {
margin: auto;
}

/* Fuentes de Texto */
.ns-title_ppal {
    /* FALTA AGREGAR ESTILO */
}

.ns-text_ppal {
    /* FALTA AGREGAR ESTILO */
}

.ns-section_title {
    /* FALTA AGREGAR ESTILO */
}

.ns-section_text {
    /* FALTA AGREGAR ESTILO */
}

.ns-carrusel_text {
    text-align: center;
    /*font-size: 2vw;*/ /* Ajusta el tamaño según el ancho de la pantalla.*/
    font-size: 2vh; /* Ajusta el tamaño según el alto de la pantalla.*/
    /*font-size: 3.5vw;*/ /* Ajusta el tamaño según el tamaño de la pantalla.*/
}

.ns-footer_text {
    /* FALTA AGREGAR ESTILO */
}

.navbar {
    /*background-color: transparent;*/
    background-color: #005a87;
    opacity: 0.7;
    padding-top: 0.8em !important;
    padding-bottom: 0.8em !important;
    -webkit-transition:padding 0.2s ease;
    -moz-transition:padding 0.2s ease; 
    -o-transition:padding 0.2s ease;        
    transition:padding 0.2s ease;
}

.navbar2 {
    background-color: #005a87;
    opacity: 1;
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
    opacity: 1;
    -webkit-transition:padding 0.2s ease;
    -moz-transition:padding 0.2s ease; 
    -o-transition:padding 0.2s ease;        
    transition:padding 0.2s ease;
}

.navbar-brand {
    background-color: #a3a3a3;
    background-size: 100%;
    transition: background 5s;
    border-radius: 6px;
    -moz-border-radius;
}

.navbar-brand-logo-visible {
    visibility: visible;
}

.navbar-brand-logo-invisible {
    visibility: hidden;
}

.navbar-nav li > .active {
    background-color: #a3a3a3;
    background-size: 100%;
    transition: background 0s;
    border-radius: 6px;
    -moz-border-radius;
}

.navbar-nav li {
    background-position: center;
    transition: background 0.5s;
    border-radius: 6px;
    -moz-border-radius;
}

.navbar-nav li:hover {
    background: #45526e radial-gradient(circle, transparent 1%, #6a91e7 1%) center/15000%;
    border-radius: 6px;
    -moz-border-radius;
}