dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
historicos/assets/js/vendor/._npm.js
historicos/assets/js/vendor/._modernizr-2.8.3-respond-1.4.2.min.js
historicos/assets/js/vendor/._jquery-1.11.2.min.js
historicos/assets/js/vendor/._bootstrap.min.js
historicos/assets/js/vendor/._bootstrap.js
historicos/assets/js/.DS_Store
historicos/assets/js/._vendor
historicos/assets/js/._plugins.js
historicos/assets/js/._main.js
historicos/assets/js/._.DS_Store
historicos/assets/images/._feature-2.jpg
historicos/assets/images/._feature-1.jpg
historicos/assets/fonts/._glyphicons-halflings-regular.woff
historicos/assets/fonts/._glyphicons-halflings-regular.ttf
historicos/assets/._.DS_Store
historicos/assets/._css
historicos/assets/._fonts
historicos/assets/._images
historicos/assets/._js
historicos/assets/.DS_Store
historicos/assets/css/._.DS_Store
historicos/assets/css/._bootstrap-theme.css.map
historicos/assets/css/._bootstrap-theme.min.css
historicos/assets/css/._bootstrap.css.map
historicos/assets/css/._bootstrap.min.css
historicos/assets/css/._plugins.css
historicos/assets/css/._responsive.css
historicos/assets/css/._style.css
historicos/assets/css/.DS_Store
historicos/assets/fonts/._glyphicons-halflings-regular.eot
historicos/assets/fonts/._glyphicons-halflings-regular.svg
