.imagen-producto-derecha{
    float: right;
    padding-top: 50px;
    padding-left: 15px;
}

.panel-producto{
    margin-bottom:0px;
    background-color:#fff;
    border:1px solid transparent;
    border-radius:4px;
    -webkit-box-shadow:0 1px 1px rgba(0,0,0,.05);
    box-shadow:0 1px 1px rgba(0,0,0,.05)
}

.panel-default-previsional{
    background-color: #9b46c0;
    color: #fff;
}

.panel-body-previsional{
    background-color:#9b46c0;
    color:#fff;
    text-align: justify;
}

.panel-default > .panel-heading-previsional{
    background-color:#9b46c0;
    color:#fff;
}

.panel-default-rrhh{
    background-color: #dd6e13;
    color: #fff;
}

.panel-body-rrhh{
    background-color:#dd6e13;
    color:#fff;
    text-align: justify;
}

.panel-default > .panel-heading-rrhh{
    background-color:#dd6e13;
    color:#fff;
}

.panel-default-financiero{
    background-color: #2979bc;
    color: #fff;
}

.panel-body-financiero{
    background-color:#2979bc;
    color:#fff;
    text-align: justify;
}

.panel-default > .panel-heading-financiero{
    background-color:#2979bc;
    color:#fff;
}

.panel-default-expedientes{
    background-color: #008d7a;
    color: #fff;
}

.panel-body-expedientes{
    background-color:#008d7a;
    color:#fff;
    text-align: justify;
}

.panel-default > .panel-heading-expedientes{
    background-color:#008d7a;
    color:#fff;
}

.panel-default-autogestion{
    background-color: #1d5075;
    color: #fff;
}

.panel-body-autogestion{
    background-color:#1d5075;
    color:#fff;
    text-align: justify;
}

.panel-default > .panel-heading-autogestion{
    background-color:#1d5075;
    color:#fff;
}